{% extends "base.html"%}
{%load static%}
{% block title %}About Developers{% endblock %}
{% block content %}

<link href="{%static 'landing_static/css/style.css' %}" rel="stylesheet">
<link href="{%static 'landing_static/css/style.css' %}" rel="stylesheet">
<div class="container-sm">
    <br>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card mt-5 mb-5" style="width: 18rem;">
                <img src="{% static 'landing_static/img/logo_wce.png' %}" class="card-img-top" alt="..."
                    style="border-style: solid ; height: 22rem">
                <div class="card-body">
                    <h5 class="card-title">Teknath Jha</h5>
                    <p class="card-text">Developer</p>
                    <a href="https://www.facebook.com/aditya.sanap.44"><i class="fa fa-2x fa-facebook-square"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-5 mb-5" style="width: 18rem; margin-top: 2rem;">
                <img src="{% static 'images\IMG_20200514_135813.png' %}" class="card-img-top" alt="..."
                    style="border-style: solid ; height: 22rem">
                <div class="card-body">
                    <h5 class="card-title">Aditya Sanap</h5>
                    <p class="card-text">Developer</p>
                    <a href="https://www.facebook.com/aditya.sanap.44"><i class="fa fa-2x fa-facebook-square "></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-5 mb-5" style="width: 18rem; margin-top: 2rem;">
                <img src="{% static 'landing_static/img/logo_wce.png' %}" class="card-img-top " alt="..."
                    style="border-style: solid ; height: 22rem">
                <div class="card-body">
                    <h5 class="card-title">Teknath Jha</h5>
                    <p class="card-text">Developer</p>
                    <a href="https://www.facebook.com/aditya.sanap.44"><i class="fa fa-2x fa-facebook-square"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>


{%endblock%}