{% extends "base.html"%}
{%load static%}
{% block title %}About Developers{% endblock %}
{% block content %}

<link href="{%static 'landing_static/css/style.css' %}" rel="stylesheet">
<link href="{%static 'landing_static/css/style.css' %}" rel="stylesheet">


<!-- -------------------@ Avinash style-------------------------- -->
<div class="container">
    <div class="container">
        <br><br><br><br>
        <div class=" d-flex flex-row row mx-px-auto">
            <div class='col-md-4'>
                <div class='our-team' style="width: 18rem; border-radius: 5rem;">
                    <div class='picture'><img class='img-fluid' style='max-width: 130px; height:130px ;'
                            src="{% static 'images/teknath_jha.png' %}">
                    </div>
                    <div class='team-content'>
                        <h3 class='name'>Teknath Jha</h3>
                        <h4 class='title' style='margin-bottom:30px;'>2019BTECS00033</h4>
                        <p class='fw-light' style=>Developer,2023 BATCH</p>
                        <h4 class='title' style='line-height:25px ;margin-bottom:20px'>Computer Science</h4>
                    </div>
                    <ul class='social'>
                        <li><a href=mailto:@teknath.jha@walchandsangli.ac.in aria-hidden='true'><i
                                    class="fa fa-envelope" aria-hidden="true"></i></a>
                        </li>
                        <li><a href=" " title="LinkedIn" class="btn btn-linkedin btn-lg"><i
                                    class="fa fa-linkedin fa-fw"></i></a>
                        </li>
                        <li><a href="#" title="Facebook" class="btn btn-facebook btn-lg"><i
                                    class="fa fa-facebook fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='our-team' style="width: 18rem;border-radius: 5rem;">
                    <div class='picture'><img class='img-fluid' style='max-width: 130px; height:130px ;'
                            src="{% static 'images/avinash_biradar.png' %}">
                    </div>
                    <div class='team-content'>
                        <h3 class='name'>Avinash Biradar</h3>
                        <h4 class='title' style='margin-bottom:30px;'>2019BTECS00077</h4>
                        <p class='fw-light' style=>Developer,2023 BATCH</p>
                        <h4 class='title' style='line-height:25px ;margin-bottom:20px'>Computer Science</h4>


                    </div>
                    <ul class='social'>
                        <li><a href=mailto:@avinash.biradar@walchandsangli.ac.in aria-hidden='true'><i
                                    class="fa fa-envelope" aria-hidden="true"></i></a></a>
                        </li>
                        <li><a href=" " title="LinkedIn" class="btn btn-linkedin btn-lg"><i
                                    class="fa fa-linkedin fa-fw"></i></a>
                        </li>
                        <li><a href="#" title="Facebook" class="btn btn-facebook btn-lg"><i
                                    class="fa fa-facebook fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='our-team' style="width: 18rem;border-radius: 5rem;">
                    <div class='picture'><img class='img-fluid' style='max-width: 130px; height:130px ;'
                            src="{% static 'images\IMG_20210307_163650_3.png' %}">
                    </div>
                    <div class='team-content'>
                        <h3 class='name'>Aditya Sanap</h3>
                        <h4 class='title' style='margin-bottom:30px;'>2019BTECS00111</h4>
                        <p class='fw-light' style=>Developer,2023 BATCH</p>
                        <h4 class='title' style='line-height:25px ;margin-bottom:20px'>Computer Science</h4>
                    </div>
                    
                    <ul class='social'>
                        <li><a href=mailto:@aditya.sanap@walchandsangli.ac.in aria-hidden='true'><i
                                    class="fa fa-envelope" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/aditya-sanap-27a653193/" title="LinkedIn"
                                class="btn btn-linkedin btn-lg"><i class="fa fa-linkedin fa-fw"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/aditya.sanap.44" title="Facebook"
                                class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}