{% extends "base.html"%}
{%load static%}
{% block title %}About Developers{% endblock %}
{% block content %}

<link href="{%static 'landing_static/css/style.css' %}" rel="stylesheet">
<link href="{%static 'landing_static/css/style.css' %}" rel="stylesheet">


<!-- -------------------@ POST LOGIN-------------------------- -->
<div class="container">
    <div class="container">
        <br><br><br><br>
        <div class=" d-flex flex-row row mx-px-auto">
            <div class='col-md-4'>
                <div class='our-team' style="width: 18rem; border-radius: 5rem;">
                    <div class='picture'><img class='img-fluid' style='max-width: 130px; height:130px ;'
                            src="{% static 'images/150rupiyadega.png' %}">
                    </div>
                    <div class='team-content'>
                        <h3 class='name'>Logged In As <strong> {{MeraMsg}}</strong></h3>
                        <h4 class='title' style='margin-bottom:30px;'>150/- Dega</h4>
                        <p class='fw-light' style=> Hi </p>
                        <h4 class='title' style='line-height:25px ;margin-bottom:20px'><strong>{{name}}</strong></h4>
                    </div>
                    <a class="btn btn-primary" href="{% url 'logout' %}">
                        Logout
                    </a>
                </div>
                {% if   msg %}
                <div class=" d-flex flex-row row mx-px-auto">
                    <div class='col-md-4'>

                        <div class='our-team' style="width: 18rem; border-radius: 5rem;">
                            <div class='team-content'>
                                <h3 class='name'>Name <strong> {{name}}</strong></h3>
                                <h3 class='name'>Email <strong> {{email}}</strong></h3>
                                <h3 class='name'>Contact <strong> {{phoneNumber}}</strong></h3>
                                <h3 class='name'>LocalId <strong> {{local_id}}</strong></h3>
                                <h4 class='title' style='margin-bottom:30px;'>Ok</h4>
                                <p class='fw-light' style=> Hi </p>
                                <h4 class='title' style='line-height:25px ;margin-bottom:20px'><strong>{{name}}</strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
            <h1>Add a doc</h1>
            <form class="login100-form validate-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <span class="login100-form-title p-b-55">
                    Doc Owner Data
                </span>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Valid username is required">
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="First name is required">
                    <input class="input100" type="text" name="first_name" placeholder="First name" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Last name is required">
                    <input class="input100" type="text" name="last_name" placeholder="Last name" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="email" name="email" placeholder="Email" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-envelope"></span>
                    </span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Valid contact is required">
                    <input class="input100" type="text" name="phoneNumber" placeholder="Contact" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="container-login100-form-btn p-t-25">
                    <button class="login100-form-btn" type="submit" onclick="location.href='{% url 'create' %}'">
                        Generate Token
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}