{% extends "base.html"%}
{%load static%}
{% block title %}Desk-1{% endblock %}
{% block content %}

<link href="{%static 'landing_static/css/style.css' %}" rel="stylesheet">
<link href="{%static 'landing_static/css/style.css' %}" rel="stylesheet">


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-90 p-b-50">
            <form class="login100-form validate-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <span class="login100-form-title p-b-55">
                    {{ designation }}
                </span>
                <p style="color:#d33f8d">{{error_message1}}</p>
                <p style="color:#d33f8d">{{error_message2}}</p><br>
                <a class="btn btn-primary" href="{% url 'staffWork' %}">
                    work
                </a>
                <a class="btn btn-primary" href="{% url 'create' %}">
                    create
                </a>
                <a class="btn btn-primary" href="{% url 'staffLandingPage' %}">
                    Staff Landing Page
                </a>
                <div class='team-content'>
                    <h3 class='name'>Login as <strong> {{email}}</strong></h3>
                    <!-- <p class='fw-light' style=>Local Id </p> -->
                    <h4 class='title' style='line-height:25px ;margin-bottom:20px'>
                        <!-- <strong>{{local_id}}</strong> -->
                    </h4>
                </div>
              
        </div>
    </div>
</div>
</div>


{%endblock%}