{% extends "base.html"%}
{%load static%}
{% block title %}About Developers{% endblock %}
{% block content %}

<link href="{%static 'landing_static/css/style.css' %}" rel="stylesheet">
<link href="{%static 'landing_static/css/style.css' %}" rel="stylesheet">


<!-- -------------------@ POST LOGIN-------------------------- -->
<div class="container ">
    <br><br><br><br>
    <div class="row mx-px-auto">
        <div class='col-md-4'>
            <div class='our-team' style="width: 18rem; border-radius: 5rem;">
                <div class='picture'><img class='img-fluid' style='max-width: 130px; height:130px ;'
                        src="{% static 'images/150rupiyadega.png' %}">
                </div>
                <div class='team-content'>
                    <h3 class='name'>Login as  <strong> {{email}}</strong></h3>
                    <h4 class='title' style='margin-bottom:30px;'>150/- Dega</h4>
                    <p class='fw-light' style=>Local Id </p>
                    <h4 class='title' style='line-height:25px ;margin-bottom:20px'><strong>{{local_id}}</strong></h4>
                </div>
                <a class="btn btn-primary" href="{% url 'logout' %}">
                    Logout
                </a>
                <a class="btn btn-primary" href="{% url 'create' %}">
                    create
                </a>
                <a class="btn btn-primary" href="{% url 'create' %}">
                    view
                </a>
            </div>
        </div>
    </div>
</div>


{%endblock%}