{% extends "base.html"%}
{%load static%}
{% block title %}Clerk{% endblock %}
{% block content %}

<link href="{%static 'landing_static/css/style.css' %}" rel="stylesheet">
<link href="{%static 'landing_static/css/style.css' %}" rel="stylesheet">


<!-- -------------------@ POST LOGIN-------------------------- -->





<div class="limiter">
    <div class="container-login100 d-flex flex-column" style="margin-top: -7rem;">
        <div class='team-content'>
                    <!-- <h3 class='name'>Logged in as <strong> {{email}}</strong></h3> -->
                    <div style="appearance: none;outline: none;">
                        <select name="staffEmail" class="col-sm-2" required>
                            <option selected >{{email}}</option>
                        </select>
                    </div>
                    <!-- <p class='fw-light' style=>Local Id </p> -->
                    <h4 class='title' style='line-height:25px ;margin-bottom:20px'>
                        <!-- <strong>{{local_id}}</strong> -->
                    </h4>
                </div>
        <div class="wrap-login100 p-l-50 p-r-50 p-t-90 p-b-50" style="margin-top:8rem">
            <form  action={% url 'report' %} method="post">
                {% csrf_token %}
                <div style="appearance: none;outline: none;">
                    <select name="staffEmail" class="col-sm-0" required>
                        <option selected >{{email}}</option>
                    </select>
                </div>
                <span class="login100-form-title p-b-55">
                    {{ designation }}
                </span>
                <p style="color:#d33f8d">{{error_message1}}</p>
                <p style="color:#d33f8d">{{error_message2}}</p><br>

               

                <div class="d-flex flex-column" style="margin:auto;">
                    <a class="btn btn-primary " style="margin-bottom:1rem;" href="{% url 'staffWork' %}">
                        work
                    </a>
                    <a class="btn btn-primary " style="margin-bottom:1rem;" href="{% url 'create' %}">
                        create
                    </a>
                    <button class="btn btn-primary btn-lg btn-block" type="submit" name="submit">Report</button>
                    <!-- <a class="btn btn-primary " style="margin-bottom:1rem;" type="submit" href="{% url 'report' %}"> -->  
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>


{%endblock%}