{% extends "base.html"%}
{%load static%}
{% block title %}Login{% endblock %}
{% block content %}



<link href="{%static 'landing_static/css/style.css' %}/css/style.css' %}" rel="stylesheet">
<link href="{%static 'landing_static/css/style.css' %}/css/style.css' %}" rel="stylesheet">

<div class="limiter">
    <br><br><br>
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
            <form class="login100-form validate-form" action="/firstClerk/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <span class="login100-form-title p-b-55">
                    Login
                </span>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="email" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-lock"></span>
                    </span>
                </div>

                <div class="container-login100-form-btn p-t-25">
                    <button class="login100-form-btn" type="submit" value="SignIn">
                        Login
                    </button>
                </div>

                <div class="text-center w-full p-t-75">
                    <span class="txt1">
                        Not a member?
                    </span>

                    <a class="txt1 bo1 hov1" href="{% url 'signup' %}">
                        Sign up now
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}