body {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient( rgba(36, 12, 24, 0.2), #E4E9FD );
  min-height: 580px;
  font-family: 'helvetica neue';
}

.container{
    padding-top: 5px;
    padding-bottom: 70px;
}


.navbar-nav  a:hover{
    color: #0e22d6 !important;
}


.centerdata{
    position:absolute;
    text-align: center;
    margin:10% 0px;
}

.button{
    padding: 10px 0px;
}

.footer {
    position:fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height:50px;
    font-weight: 600;
    background-color:black;
    z-index : 2
 }
 
 .footer p {
     margin : 1rem;
     font-size: 12px;
   color: rgb(236, 95, 95);
 }
 
.pageform{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.login_page {
    width: 360px;
    padding: 6% 0 0;
    margin: auto
}

.form {
    position:absolute;
    z-index: 1;
    background: rgba(145, 147, 155, 0.568);
    max-width: 360px;
    margin: 5% auto 30px;
    padding: 45px;
    text-align: center;
    border-radius: 6px
}

.form input {
    font-family: "Roboto", Sans-serif;
    outline: 1;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 2px
}

.form button {
    font-family: "Roboto", Sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 2;
    border-radius: 4px;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer
}

.form button:hover,
.form button:active {
    background: #43A047
}

.form .message {
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 16px
}

.form .message a {
    color: #4CAF50;
    text-decoration: none
}

.form .register_form {
    display: none
}


/* ---------------new---------- */

 .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: rgb(255, 166, 0);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
    height: 100%;
}

.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(255, 166, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 166, 0);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
}


@media(min-width:800px) 
{
    .input-group{
    width: 90%;
    margin:0px 15%;
}
}   

@media(max-width:450px) 
{
   .centerdata{
    text-align: center;
    margin:35% 0px;
   }
   .pageform{
        max-width: 280px;
   }
   .form{
        margin: 30% auto 30px;
   }
   .fixed-top{
    margin-bottom: 5%;
   }
   .login_page {
    width: 270px;
    padding: 6% 0 0;
    margin: auto
   }
}